@font-face {
    font-family: font;
    src: url(fonte/VINTAGE\ PUNK.ttf);   
}
@font-face {
    font-family: font1;
    src: url(fonte/Kiddish.ttf);   
}



body {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url('img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 80%; */
    font-size: 1.5em;
    /* height: 100%; */

}
h1 {
    color:  rgb(54, 56, 93);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.6em;
    font-family: font;
    margin-top: 44.5%;
    
}

h3 {
    font-size: 1.5em;
    font-family: font1;
    transform: translateY(-5.5vh);
   
}

button {
    border: 2px dotted rgb(47, 26, 11);
    border-radius: 20px;
    background-color: rgb(54, 56, 93);
    color: aliceblue;
    font-family: font1;
    font-size: 0.5em;
}

table {
    align-items: center;
    margin: auto;
    margin-bottom: 15px;
    font-size: 0.5em;
    /* background: rgb(255, 255, 255);*/ 
    background: rgba(54, 56, 93, 0.859); 
    background-repeat: no-repeat;
    background-size: cover;
    font-family: font1;
    color: #ffffff ;
    transform: translateY(-9.5vh);

}

input {
    border-radius: 20px;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 14%;
    font-family: font1;
    border: 2px dotted rgb(47, 26, 11);
}

.tabuada {
    transform: translateY(-4vh);
    
}
.container1 {
    
   transform: translateY(15vh);
   /* margin-top: 140px; */
   
}

.text-center {
    transform: translateY(15vh);
}


.footer {
    transform: translateY(80%);
    
}

.gerador {
    height: 160px;
    margin-top: -30px;
}